<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <!-- CSS  -->
    <link href=".\public\images\logo\favico.ico" rel="icon" />
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Point of interest CSS -->
    <link href="/stylesheets/interest.css" rel="stylesheet">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molle:400i" rel="stylesheet">
</head>

<body>
    <div class="top-menu center">
        <a href="/" class="btn-flat menu-btn{{#if accueil}} is-active{{/if}}">accueil</a>
        <a href="/contact" class="btn-flat menu-btn{{#if contact}} is-active{{/if}}">contact</a>
        <a href="/" class="menu-btn octogon"><i>P</i> R</a>
        <a href="/creations" class="btn-flat menu-btn{{#if creations}} is-active{{/if}}">creations</a>
        <a href="/faq" class="btn-flat menu-btn{{#if faq}} is-active{{/if}}">#faq</a>
    </div>
    {{{ body }}}
</body>

</html>
