<div class="container container-page">
    <div class="row">
        <div class="col l12">
            <h1 class="center">Ceci est la page de faq !</h1>
        </div>
    </div>
</div>{{> page/footer}} {{> script/full}}
