<footer class="page-footer">
    <div class="links-footer center">
        <div class="linkedin-box">
            <a class="linkedin-link-footer" href="https://www.linkedin.com/in/pierre-roussel1/" target="_blank"><i class="fa fa-linkedin-square"></i><span> Jetez un oeil à mon profil linkedin</span></a>
        </div>
    </div>
</footer>
